.App {
  text-align: center;
}

.figure {
  width: 128px;
  height: 128px;
}
.form-circle {
  border-radius: 50%;
}
.color-green {
  background-color: #5CB69B;
}
.color-red {
  background-color: #DB2C2C;
}
.color-yellow {
  background-color: #DCC655;
}
.color-blue {
  background-color: #5A7DD6;
}
.dark-true {
  filter: brightness(50%);
}
